header {
    color: var(--color5);
    height: 40px;
    background-color: var(--color3);
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: rgba(255, 122, 89, 0.8);
  }
  